<div>
        <div>
            <label for="data.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll-type="attribute" data-attribute="{{key}}">{{attribute.label}}</label>
            <span class="attribute-mod"> {{numberFormat attribute.total decimals=0 sign=true}} {{#if attribute.value}} + {{attribute.value}} {{/if}} {{#if attribute.dice}} + {{attribute.dice}}d6{{/if}}</span>
        </div>
        <div class="edit-mode-only" {{#unless edit_mode}} style="display: none;" {{/unless}}>
            <input type="text" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="String"/>
        </div>
        <div>
        </div>
</div>



