<div class="abilities flexcol">
    <div class="ability flexrow flex-group-left" style=" margin-bottom: 4px;">
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-ability.html" ability=data.abilities.str key="str"}}
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.athletics key="athletics"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.endurance key="endurance"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-ability.html" ability=data.abilities.dex key="dex"}}
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.disable key="disable"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.operate key="operate"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-ability.html" ability=data.abilities.pow key="pow"}}
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.perception key="perception"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.negotiation key="negotiation"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-ability.html" ability=data.abilities.int key="int"}}
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.knowledge key="knowledge"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.analyze key="analyze"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.accuracy key="accuracy"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.evasion key="evasion"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-attribute.html" attribute=data.attributes.resistance key="resistance"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.patk key="patk"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.matk key="matk"}}

        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.recovery key="recovery"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.pdef key="pdef"}}
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.mdef key="mdef"}}
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.initiative key="initiative"}}
    </div>
    <div style="border-bottom:1px solid black;"></div>
    <div class="ability flexrow flex-group-left" style="margin-bottom: 4px; margin-top: 4px;">
        
        {{> "systems/loghorizontrpg/templates/actor/parts/actor-combatstat.html" combatstat=data.combatstats.speed key="speed"}}
        
    </div>
    <div style="border-bottom:1px solid black;"></div>
</div>