
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}

          <div class="abilities flexcol">
              <div class="flexrow flex-group-center">
                  <label class="resource-text flex-group-center">Abilities</label>
                  <span class="edit-mode-only " {{#unless edit_mode}} style="display: none;" {{/unless}} ></span>
                  <span>Base</span>
                  <span>Mod</span>
              </div>
              {{#each data.abilities as |ability key|}}
              <div class="ability flexrow flex-group-center">
                <div>
                    <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="2d6+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
                </div>
                  <div class="edit-mode-only" {{#unless ../edit_mode}} style="display: none;" {{/unless}}>
                <input  type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            </div>
              <div>
                <span>{{ability.base}}</span>
            </div>
              <div>
                <span class="ability-mod"">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
              </div>
              {{/each}}
          </div>

              <label class="resource-text">Other Stats</label>
              <div class="combatstats flexcol">
                  {{#each data.combatstats as |combatstat key|}}
                  <div class="combatstat flexrow flex-group-center">
                    <label for="data.combatstats.{{key}}.value" class="resource-label flexlarge align-left"">{{combatstat.label}}</label>
                    <input class="edit-mode-only" {{#unless ../edit_mode}} style="display: none;" {{/unless}} type="text" name="data.combatstats.{{key}}.value" value="{{combatstat.value}}" data-dtype="Number"/>
                    <span class="combatstat-total">{{numberFormat combatstat.total decimals=0}}</span>
                  </div>
                  {{/each}}
              </div>
      </aside>

      <aside class="sidebar">
          <div class="attributes flexcol">
              <div class="flexrow flex-group-center">
                  <label class="resource-text">Attributes</label>
                  <span class="edit-mode-only" {{#unless edit_mode}} style="display: none;" {{/unless}}></span>
                  <span class="edit-mode-only" {{#unless edit_mode}} style="display: none;" {{/unless}}>Mod</span>
                  <span>Total</span>
              </div>
            {{#each data.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
                <div class="flex-group-left">
                    <label for="data.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll-type="attribute" data-attribute="{{key}}">{{attribute.label}}</label>
                </div>
                <div class="edit-mode-only" {{#unless ../edit_mode}} style="display: none;" {{/unless}}>
                    <input type="text" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="String"/>
                </div>
                <div class="edit-mode-only" {{#unless ../edit_mode}} style="display: none;" {{/unless}}>
                    <span>{{attribute.mod}}</span>
                </div>
                <div>
                    <span class="attribute-mod rollable"> {{numberFormat attribute.total decimals=0 sign=true}} {{#if attribute.value}} + {{attribute.value}}{{/if}} {{#if attribute.dice}} + {{attribute.dice}}d6{{/if}}</span>
                </div>
            </div>
            {{/each}}
          </div>
      </aside>