<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between flex-group-center">
              <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
              <span> / </span>
              <span> {{data.hp.max}} </span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.fate.value" class="resource-label">Fate points</label>
          <div class="resource-content flexrow flex-center flex-between flex-group-center">
              <input type="text" name="data.fate.value" value="{{data.fate.value}}" data-dtype="Number"/>
              <span> / </span>
              <span>{{data.fate.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
            <label for="data.cr" class="resource-label">Character Rank</label>
            <div class="resource-content flexrow flex-center flex-between flex-group-center">
                <input type="text" name="data.cr" value="{{data.cr}}" data-dtype="Number"/>
            </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.fatigue.value" class="resource-label">Fatigue</label>
          <div class="resource-content flexrow flex-center flex-between flex-group-center">
              <input type="text" name="data.fatigue.value" value="{{data.fatigue.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.hate.value" class="resource-label">Hate</label>
          <div class="resource-content flexrow flex-center flex-between flex-group-center">
              <input type="text" name="data.hate.value" value="{{data.hate.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="flex-group-center full-rest">
            <label class="resource-label">Full</label>
            <h1>Rest</h1>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-2col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}

          <div class="abilities flexcol">
              <div class="flexrow flex-group-center">
                  <label class="resource-text flex-group-center">Abilities</label>
                  <span></span>
                  <span>Bonus</span>
                  <span>Base</span>
                  <span>Mod</span>
              </div>
              {{#each data.abilities as |ability key|}}
              <div class="ability flexrow flex-group-center">
                <div>
                    <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="2d6+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
                </div>
                  <div>
                <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            </div>
              <div>
                <span>{{ability.bonus}}</span>
            </div>
              <div>
                <span>{{ability.base}}</span>
            </div>
              <div>
                <span class="ability-mod"">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
              </div>
              {{/each}}
          </div>

              <label class="resource-text">Other Stats</label>
              <div class="combatstats flexcol">
                  {{#each data.combatstats as |combatstat key|}}
                  <div class="combatstat flexrow flex-group-center">
                    <label for="data.combatstats.{{key}}.value" class="resource-label flexlarge align-left"">{{combatstat.label}}</label>
                    <input type="text" name="data.combatstats.{{key}}.value" value="{{combatstat.value}}" data-dtype="Number"/>
                    <span class="combatstat-total">{{numberFormat combatstat.total decimals=0}}</span>
                  </div>
                  {{/each}}
              </div>
      </aside>

      <aside class="sidebar">
          <div class="attributes flexcol">
              <div class="flexrow flex-group-center">
                  <label class="resource-text">Attributes</label>
                  <span></span>
                  <span>Mod</span>
                  <span>Total</span>
              </div>
            {{#each data.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
              <div>
              <label for="data.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll-type="attribute" data-attribute="{{key}}">{{attribute.label}}</label>
          </div>
            <div>
              <input type="text" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="String"/>
          </div>
            <div>
              <span>{{attribute.mod}}</span>
          </div>
            <div>
              <span class="attribute-mod rollable">{{numberFormat attribute.total decimals=0 sign=true}}</span>
          </div>
            </div>
            {{/each}}
          </div>
      </aside>
    </section>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid grid-2col">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          <div class="">
              {{> "systems/loghorizontrpg/templates/actor/parts/actor-features.html"}}
          </div>
        </section>

    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/loghorizontrpg/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/loghorizontrpg/templates/actor/parts/actor-skills.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/loghorizontrpg/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>
