<div class="loghorizontrpg chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}} {{#if isSkill}}data-sr-value="{{item.data.sr.value}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        <strong>{{data.tags}}</strong>
        {{{data.description}}}
    </div>

    <div class="card-content grid grid-2col">
        <span><strong>SR:</strong> {{data.sr.value}}/{{data.sr.max}}</span>
        <span><strong>Timing:</strong> {{localize (asIndexMiddle "config.timingTypes.$arg" data.timing)}}</span>
        <span><strong>Target:</strong> {{targetTypeMessage}}</span>
        <span><strong>Range:</strong> {{data.range.value}}</span>
        {{#ifEquals data.hatecost.value "Refer"}}
        <span><strong>Hate:</strong> Refer</span>
        {{/ifEquals}}
        {{#ifNotEquals data.hatecost.total 0}}
        <span><strong>Hate:</strong> {{data.hatecost.total}}</span>
        {{/ifNotEquals}}
        {{#ifNotEquals data.fatecost.value null}}
        {{#ifNotEquals data.fatecost.value 0}}
        <span><strong>Fate:</strong> {{data.fatecost.value}}</span>
        {{/ifNotEquals}}
        {{/ifNotEquals}}
        {{#ifNotEquals data.limit.type "None"}}
        <span><strong>Limit:</strong> {{data.limit.value}} / {{data.limit.max}} {{localize (asIndexMiddle "config.limitTypes.$arg" data.limit.type)}}</span>
        {{/ifNotEquals}}

    </div>

    <div class="card-buttons">

        <label class="label">Check: {{checkTypeMessage}}</label>
        {{#if hasCasterCheck}}
        <button data-action="castercheck" data-attribute="{{data.check.caster}}">{{localize "LOGHORIZONTRPG.HitCheck"}}</button>
        {{/if}}

        {{#if hasTargetCheck}}
        <button data-action="targetcheck" data-attribute="{{data.check.target}}">
            {{localize "LOGHORIZONTRPG.DefenseCheck"}}
        </button>
        {{/if}}

        {{#if hasFormula}}
        <button data-action="formula">
            Damage / Healing
        </button>
        {{/if}}

        {{#if hasSecondFormula}}
        <button data-action="secondformula">Secondary effect</button>
        {{/if}}
    </div>

    <footer class="card-footer">
    </footer>
</div>
