<div>
    <div class="resource grid grid-3col flex-group-center">
        <div class="form-group select">
            <label class="resource-label">Check:</label>
            <select name="system.check.type">
                {{#select system.check.type}}
                    {{#each config.checkTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{#ifEquals system.check.type "basic"}}
        <div class="form-group select">
            <label class="resource-label">Caster:</label>
            <select name="system.check.caster">
                {{#select system.check.caster}}
                    <option value="none"></option>
                    {{#each config.attributes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource flexrow flex-group-center">
            <span>+</span>
            <input type="text" name="system.check.bonus" value="{{system.check.bonus}}" data-dtype="Number"/>
            {{#unless (lequal system.sr.max 1)}}
            <label class="checkbox">
                <input type="checkbox" name="system.check.addsr" data-dtype="Boolean" {{checked system.check.addsr}}>
                + SR
            </label>
            {{/unless}}
        </div>
        <div class="form-group select">
            <label class="resource-label">Target:</label>
            <select name="system.check.target">
                {{#select system.check.target}}
                    {{#each config.difficultyTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource flexrow flex-group-center">
            {{#ifEquals system.check.target "value"}}
            <span>=</span>
            {{/ifEquals}}
            {{#ifNotEquals system.check.target "value"}}
            <span>+</span>
            {{/ifNotEquals}}
            <input type="text" name="system.check.targetbonus" value="{{system.check.targetbonus}}" data-dtype="String"/>
        </div>
        {{/ifEquals}}
        {{#ifEquals system.check.type "opposed"}}
        <div class="form-group select">
            <label class="resource-label">Caster:</label>
            <select name="system.check.caster">
                {{#select system.check.caster}}
                    <option value="none"></option>
                    {{#each config.attributes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource flexrow flex-group-center">
            <span>+</span>
            <input type="text" name="system.check.bonus" value="{{system.check.bonus}}" data-dtype="Number"/>
            {{#unless (lequal system.sr.max 1)}}
            <label class="checkbox">
                <input type="checkbox" name="system.check.addsr" data-dtype="Boolean" {{checked system.check.addsr}}>
                + SR
            </label>
            {{/unless}}
        </div>
        <div class="form-group select flexrow flex-group-center">
            <label class="resource-label">Target:</label>
            <select name="system.check.target">
                {{#select system.check.target}}
                {{#each config.attributes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="resource flexrow flex-group-center">
            <span>+</span>
            <input type="text" name="system.check.targetbonus" value="{{system.check.targetbonus}}" data-dtype="String"/>
        </div>
        {{/ifEquals}}
    </div>
    <div class="resource grid grid-2col">
        <div class="resource flexrow flex-group-center">
            <label class="resource-label">Limit:</label>
            {{#ifNotEquals system.limit.type "None"}}
            <input type="text" name="system.limit.value" value="{{system.limit.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.limit.bonus" value="{{system.limit.bonus}}" data-dtype="Number"/>
            {{#unless (lequal system.sr.max 1)}}
            <select name="system.limit.addsr">
                {{#select system.limit.addsr}}
                        <option value="none"></option>
                        <option value="+">+SR</option>
                        <option value="x">xSR</option>
                {{/select}}
            </select>
            {{/unless}}
            <span>{{system.limit.max}}</span>
            <span> / </span>
            {{/ifNotEquals}}
            <div class="form-group select">
                <select name="system.limit.type">
                    {{#select system.limit.type}}
                        {{#each config.limitTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="resource flexrow flex-group-center">
            <label class="resource-label">Timing:</label>
            <div class="form-group select">
                <select name="system.timing">
                    {{#select system.timing}}
                        {{#each config.timingTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="resource flexrow flex-group-center">
            <label class="resource-label">Range:</label>
            <input type="text" name="system.range.value" value="{{system.range.value}}" data-dtype="String"/>
        </div>
        <div class="resource flexrow flex-group-center">
            <label class="resource-label">Target:</label>
            <div class="form-group select">
                <select name="system.target.type">
                    {{#select system.target.type}}
                        {{#each config.targetTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            {{#ifInArray system.target.type config.targetTypesMulti}}
            <input type="text" name="system.target.value" value="{{system.target.value}}" data-dtype="Number"/>
            {{#unless (lequal system.sr.max 1)}}
            <input type="checkbox" name="system.target.addsr" data-dtype="Boolean" {{checked system.target.addsr}}>
            +SR
            {{/unless}}
            {{/ifInArray}}
        </div>

        <div class="resource flexrow flex-group-center">
            <label class="resource-label">Hate Cost:</label>
            <input type="text" name="system.hatecost.value" value="{{system.hatecost.value}}" data-dtype="String"/>
            {{#unless (lequal system.sr.max 1)}}
            <input type="checkbox" name="system.hatecost.addsr" data-dtype="Boolean" {{checked system.hatecost.addsr}}>
            +SR
            {{/unless}}
        </div>
        <div class="resource flexrow flex-group-center">
            <label class="resource-label">Fate Cost:</label>
            <input type="text" name="system.fatecost.value" value="{{system.fatecost.value}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="resource flexrow flex-group-center">
        <label class="resource-label">Damage/Healing formula:</label>
        <input type="text" name="system.formula.value" value="{{system.formula.value}}" data-dtype="String"/>
    </div>
    <div class="resource">
        <div class="grid grid-3col">
            {{#each config.actionBonus as |name key|}}
            {{#unless (and (or (eq key "sr") (eq key "srd")) (lequal ../system.sr.max 1))}}
            <div class="flexrow flex-group-center outlined">
                <input type="text" name="system.formula.bonusmultiplier.{{key}}" value="{{asIndexMiddle "system.formula.bonusmultiplier.$arg" key}}" data-dtype="Number"/>
                <span>x</span>
                <label class="checkbox">
                    <input type="checkbox" name="system.formula.bonus.{{key}}" data-dtype="Boolean" {{checked (asIndexMiddle "system.formula.bonus.$arg" key)}}>
                    {{localize name}}
                </label>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
    <div class="resource flexrow flex-group-center">
        <label class="resource-label">Second formula:</label>
        <input type="text" name="system.secondformula.value" value="{{system.secondformula.value}}" data-dtype="String"/>
    </div>
    <div class="resource">
        <div class="grid grid-3col">
            {{#each config.actionBonus as |name key|}}
            {{#unless (and (or (eq key "sr") (eq key "srd")) (lequal ../system.sr.max 1))}}
            <div class=" flexrow flex-group-center outlined">
                <input type="text" name="system.secondformula.bonusmultiplier.{{key}}" value="{{asIndexMiddle "system.secondformula.bonusmultiplier.$arg" key}}" data-dtype="Number"/>
                <span>x</span>
                <label class="checkbox">
                    <input type="checkbox" name="system.secondformula.bonus.{{key}}" data-dtype="Boolean" {{checked (asIndexMiddle "system.secondformula.bonus.$arg" key)}}>
                    {{localize name}}
                </label>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>
