<ol class="items-list">
  {{#each skills as |skills tag|}}
    <li class="item flexrow items-header">
      <div class="item-name hideable">{{tag}} Skills</div>
      <div class="item-timing">Timing</div>
      <div class="item-limit">Limit</div>
      <div class="item-tags">Tags</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="skill" data-tags="{{tag}}">{{tag}}</a>
      </div>
    </li>
    <div class="items-in-list {{tag}}">
    {{#each skills as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name rollable">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-timing item-prop">
            <span>{{localize (asIndexMiddle "config.timingTypes.$arg" item.data.timing)}}</span>
        </div>
        <div class="item-limit item-prop">
            {{#ifNotEquals item.data.limit.type "None"}}
              <span>{{item.data.limit.value}} / {{item.data.limit.max}} {{localize (asIndexMiddle "config.limitTypes.$arg" data.limit.type)}}</span>
            {{/ifNotEquals}}
        </div>
        <div class="item-tags item-prop">{{item.data.tags}}</div>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
    </div>
  {{/each}}
</ol>
