<div class="resource">
  <label class="resource-label">Bonuses</label>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Athletics:</label>
      <input type="text" name="data.attributes.athletics.bonus" value="{{data.attributes.athletics.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.athletics.dice" value="{{data.attributes.athletics.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Endurance:</label>
      <input type="text" name="data.attributes.endurance.bonus" value="{{data.attributes.endurance.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.endurance.dice" value="{{data.attributes.endurance.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Disable:</label>
      <input type="text" name="data.attributes.disable.bonus" value="{{data.attributes.disable.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.disable.dice" value="{{data.attributes.disable.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Operate:</label>
      <input type="text" name="data.attributes.operate.bonus" value="{{data.attributes.operate.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.operate.dice" value="{{data.attributes.operate.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Perception:</label>
      <input type="text" name="data.attributes.perception.bonus" value="{{data.attributes.perception.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.perception.dice" value="{{data.attributes.perception.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Negotiation:</label>
      <input type="text" name="data.attributes.negotiation.bonus" value="{{data.attributes.negotiation.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.negotiation.dice" value="{{data.attributes.negotiation.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Knowledge:</label>
      <input type="text" name="data.attributes.knowledge.bonus" value="{{data.attributes.knowledge.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.knowledge.dice" value="{{data.attributes.knowledge.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Analyze:</label>
      <input type="text" name="data.attributes.analyze.bonus" value="{{data.attributes.analyze.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.analyze.dice" value="{{data.attributes.analyze.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Accuracy:</label>
      <input type="text" name="data.attributes.accuracy.bonus" value="{{data.attributes.accuracy.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.accuracy.dice" value="{{data.attributes.accuracy.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Evasion:</label>
      <input type="text" name="data.attributes.evasion.bonus" value="{{data.attributes.evasion.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.evasion.dice" value="{{data.attributes.evasion.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Resistance:</label>
      <input type="text" name="data.attributes.resistance.bonus" value="{{data.attributes.resistance.bonus}}" data-dtype="Number"/>
      <div class="flexrow flex-group-center">
          +
          <input type="text" name="data.attributes.resistance.dice" value="{{data.attributes.resistance.dice}}" data-dtype="Number"/>
          D
      </div>
  </div>
</div>
