<div class="resource">
  <label class="resource-label">Bonuses</label>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Physical Attack:</label>
      <input type="text" name="data.combatstats.patk.bonus" value="{{data.combatstats.patk.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Magic Attack:</label>
      <input type="text" name="data.combatstats.matk.bonus" value="{{data.combatstats.matk.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Physical Defense:</label>
      <input type="text" name="data.combatstats.pdef.bonus" value="{{data.combatstats.pdef.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Magic Defense:</label>
      <input type="text" name="data.combatstats.mdef.bonus" value="{{data.combatstats.mdef.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Initiative:</label>
      <input type="text" name="data.combatstats.initiative.bonus" value="{{data.combatstats.initiative.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Speed:</label>
      <input type="text" name="data.combatstats.speed.bonus" value="{{data.combatstats.speed.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Recovery:</label>
      <input type="text" name="data.combatstats.recovery.bonus" value="{{data.combatstats.recovery.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Inventory Slots:</label>
      <input type="text" name="data.combatstats.inventoryslots" value="{{data.combatstats.inventoryslots}}" data-dtype="Number"/>
  </div>
</div>
