<div class="resource">
  <label class="resource-label">Bonuses</label>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Physical Attack:</label>
      <input type="text" name="data.patk.bonus" value="{{data.patk.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Magic Attack:</label>
      <input type="text" name="data.matk.bonus" value="{{data.matk.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Physical Defense:</label>
      <input type="text" name="data.pdef.bonus" value="{{data.pdef.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Magic Defense:</label>
      <input type="text" name="data.mdef.bonus" value="{{data.mdef.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Initiative:</label>
      <input type="text" name="data.initiative.bonus" value="{{data.initiative.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Speed:</label>
      <input type="text" name="data.speed.bonus" value="{{data.speed.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Recovery:</label>
      <input type="text" name="data.recovery.bonus" value="{{data.recovery.bonus}}" data-dtype="Number"/>
  </div>
  <div class="resource grid grid-4col flex-group-center">
      <label class="resource-text">Inventory Slots:</label>
      <input type="text" name="data.inventoryslots" value="{{data.inventoryslots}}" data-dtype="Number"/>
  </div>
</div>
