<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

        <div class="resource">
          <div class="ability flexcol flex-group-center">
            <div class="resource">
              <label class="resource-label">HP</label>
              <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">Fate points</label>
              <input type="text" name="system.fate.value" value="{{system.fate.value}}" data-dtype="Number"/>
            </div>
            <label class="resource-label">Abilities</label>
            <div class="resource">
              <label class="resource-label">STR</label>
              <input type="text" name="system.abilities.str.value" value="{{system.abilities.str.value}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">DEX</label>
              <input type="text" name="system.abilities.dex.value" value="{{system.abilities.dex.value}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">POW</label>
              <input type="text" name="system.abilities.pow.value" value="{{system.abilities.pow.value}}" data-dtype="Number"/>
            </div>
            <div class="resource">
              <label class="resource-label">INT</label>
              <input type="text" name="system.abilities.int.value" value="{{system.abilities.int.value}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
    </div>

    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/loghorizontrpg/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>

</form>
